<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-md-5 bg-black mobile_hide rigth_image d-none  d-lg-block">
          <div class="left_side_circle_div">
              <p class="circle_text">
              </p>
          </div>
      </div>
      <div class="col-md-7 sx-bg-page position-relative">
          <div class="d-flex align-items-center justify-content-center h-100 flex-column">
              <div class="bg-white p-4 rounded shadow w-350">
                
                  <div class="text-center">
                      <img
                      class="text-center ml-5 mt-2 mb-3 rounded"
                      src="../../assets/images/Presentation3.jpg "width="60%"
                    />
                  </div>
                  <div class="text-center mb-2 mt-3 mt-lg-1 mt-sm-1">
                      <p class="fs_18">Forgot Your Password</p>
                  </div>
                  <form>
                      <div class="mb-4 mb-lg-3 mb-sm-4">
                          <input type="email"  [(ngModel)]="inputemail" class="form-control px-3 rounded" id="FirstName" name="email"
                              placeholder="Email" />
                      </div>
                  </form>
                      <div class="text-center"  (click)="Getotp()" *ngIf="!OtpRetrival">
                          <button class="btn sx-bg-primary form-control rounded mt-2">
                              Send Otp
                          </button>
                      </div>
                      <div *ngIf="OtpRetrival">
                          <div class="mb-4 mb-lg-3 mb-sm-4">
                              <input  [(ngModel)]="inputOtp"  type="number" class="form-control px-3 rounded" id="OtpEntry" name="OtpEntry"
                                  placeholder="Otp please" />
                              <input type="text" [(ngModel)]="inputpassword" class="form-control px-3 rounded" id="password" name="pssword" placeholder="Enter Password" />
                              <button class="btn sx-bg-primary form-control rounded mt-2" (click)="CrossCheckEmail()" >
                                      Submit
                              </button>
                          </div>
                      </div> 
              </div>
              <div class="pt-5 pt-lg-4 pt-sm-5 text-center">
                
                  <small class="form-check-label fs_16">
                    Back to
                    <a class='forgot_link' style="font-size: 800;" style="font-size: 800;" routerLink="/login">Login</a>
                  </small>
                </div>
          </div>
      </div>
   </div>
</div>
 -->





















<!-- <div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form #otpForm="ngForm" (ngSubmit)="forgotPassword(otpForm.)" novalidate>
      <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
          <input class="form-control rounded-end" type="number" placeholder="Enter OTP" required
              name="otp" ngModel #otp="ngModel">
          <button [disabled]="!otpForm.valid" class="btn btn-success rounded-start" style="margin-left: 10px;">SignIn</button>
      </div>
  </form>
  </div>
   -->