<div class="container">
    <div class="head">
        <div class="Img"></div>
        <div class="main">
            <p>We aimed at revolutionizing the reimbursement process. Our mission is to streamline and enhance the way organizations handle reimbursements, ensuring a hassle-free experience for both employees and administrators.</p>
        </div>
    </div>
    <div class="content">
        <div class="sec">
            <div class="sec-reimb">
                <h2>Reimbursement</h2>
                We reimbursement your every perks.
            </div>
            <div class="reimburseImg" routerLink="reimbursement" style="cursor: pointer;"></div>
        </div>
        <div class="sec">
            <div class="taxImg" routerLink="taxes" style="cursor: pointer;"></div>
            <div class="sec-taxes">
                <h2>Taxes</h2>
                We reimbursement your every perks.
            </div>
        </div>
    </div>
</div>


